.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #f0f0f0;
}
main {
    padding: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}
.stats2{
    display: flex;
    justify-content: space-around;
}
.stat2 {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}
img {
    margin: 10px;
    width: 200px;
    height: auto;
}